#NEKTR p,h2,h1,h2,h3,span,div{
    color: black;
}

#NEKTR .Sections_scrolltext_container__yd7Ve{
    border-bottom:1px solid #00000040!important;
}

#NEKTR .Sections_subtitle_pill__gCDXa{
    color: black;
    border: 2px solid #000000;
}

#NEKTR .btn--primary{
    color: white;
    background-color: black;
    border: 1px solid black;
}
#NEKTR .btn--primary img{
    filter: invert(1);
}

#NEKTR .ProjectSections_hero_info__HSas0 img{
    height: 18rem;
    margin-top: -5rem;
    filter: invert(1);
}
#NEKTR .ProjectSections_hero_info__HSas0 h1{
    margin-top: -5rem;
}


@media (max-width: 1080px) {

    #NEKTR .ProjectSections_hero_info__HSas0 img{
        height: 10rem;
        margin-top: 0;
    }
    #NEKTR .ProjectSections_hero_info__HSas0 h1{
        margin-top: -2rem;
    }
}